<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.viginfotech.spark">


    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_fireworks"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_fireworks"
            android:supportsRtl="true"
            android:theme="@style/FullscreenTheme">

        <activity android:name=".HomeActivityK"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:theme="@style/FullscreenTheme"
                  android:fitsSystemWindows="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".firebase.FCMNotification">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_fireworks" />

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
    </application>

</manifest>